.form-content {
    display: flex;
    flex-direction: column;
}

input {
    width: 60ch;
}

label {
    margin-top: 8px;
}

select {
    width: 25ch;
}

.form-newmodal {
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: #6666668f;
    color: #007bff;
    font-weight: 700;
}

.form-input {
    width: 20ch;
}

.form-span-counter {
    background-color: #ff7b00ab;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #f9f9f9;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.form-span-counter::after {
    content: 'Cantidad de preguntas guardadas';
    width: 100%;
    position: absolute;
    right: 19.5%;
    font-size: 10px;
    font-weight: 400;
    margin-top: 3px;
    color: #f9f9f9;
}

button {
    width: 150px;
}

.form-clear{
    background-color: #66666627;
}

.form-button {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    margin-top: 32px;
}

span {
    display: block;
    color: tomato;
    font-size: x-small;
    font-style: italic;
    margin: 4px;
}