/*Estilosparaelmenúdenavegación*/
.logo {
    margin: 0;
    padding: 0;
}

.logo a {
    color: #f9f9f9;
}

.logo a:hover {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;
    background-color: #007bff2d;
    border-radius: 8px;
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-li:nth-child(2) {
    margin-left: 24px;
}

.navbar-a {
    font-size: 18px;
    font-weight: 700;
}

.navbar-a:hover {
    text-decoration: none;
    color: #ff7b00;
}

